<view class="content">
  <view class="part">
    <view>亲爱的您，在使用过程中，遇到任何问题都不要着急，您可以通过下面的微信和qq联系我们哦！</view>
    <view class="notice">微信：XXXXXXX</view>
    <view class="notice">QQ：XXXXXXX</view>
  </view>
  <view class="part">亲爱的您，在使用过程中，有任何问题和建议都可以向我们反馈，您可以通过“问题反馈”搜索您遇到的问题和提交您的问题哦！
  <navigator url="../fblist/fblist" class="notice feedback" hover-class="none">点击进入“问题反馈”</navigator>
  </view>
  <view class="part">亲爱的您，在使用过程中，如果发现他人发布欺骗、描述不实等虚假消息，您可以直接在宠物详情页面点击“我要举报”按钮向我们举报这条信息哦！
  <!--<navigator url="../complain/complain" class="notice feedback" hover-class="none">点击进入“我要举报”</navigator>-->
  </view>
  <!--<view class="contact">
    <contact-button type="default-dark" size="27" session-from="weapp"></contact-button>
    <view class="service">客服会话</view>
  </view>-->
</view>