.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  background-color: #fff;
  border-bottom: 1rpx solid #e2e2e4;
}

.left-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.right-info {
  flex: 1;
}

.desc {
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  color: #4b566a;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
  overflow: hidden;
}

.addr {
  float: left;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.date {
  float: right;
}
