@import "../components/animal-list-column/animal-list-column.wxss";

.content {
  font-size: 14px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 10px;
  background-color: #fff;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.right-part {
  flex: 1;
}

.publish-info {
  color: #555;
  overflow: hidden;
}

.time {
  float: right;
}

.address {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.animal-info {
  margin-top: 10px;
  padding: 15px 10px;
  background-color: #fff;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px dashed gainsboro;
}

.line {
  margin-top: 8px;
  line-height: 18px;
}

.label {
  color: #c68;
}

.value {
  color: #555;
}

.img {
  width: 100%;
}

.notice {
  margin-top: 10px;
  padding: 20rpx 26rpx;
  line-height: 1.4;
  color: #f66;
  background: #fff;
}

/* .recommend {
  margin-top: 10px;
  background-color: #fff;
}

.title {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid gainsboro;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 0;
  border-left: 5px solid #c68;
}

.list {
  overflow: hidden;
}

.publish {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.publish image {
  width: 100%;
}

.remind {
  position: absolute;
  left: 40rpx;
}

.rone {
  top: 25px;
}

.rtwo {
  top: 45px;
}

.rthree {
  top: 65px;
}

.rfour {
  top: 85px;
} */

.complain {
  position: fixed;
  bottom: 40rpx;
  right: 30rpx;
  width: 40px;
  height: 30px;
  padding: 5px 0;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 2px 0px #ddd;
}

.comment {
  margin-top: 20px;
  padding-bottom: 50px;
}

.comment_title {
  padding: 0 10px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.comment_title_value {
  font-size: 16px;
  padding: 0 5px;
}

.comment_title::before, .comment_title::after {
  content: "";
  -webkit-flex: 1;
  flex: 1;
  height: 0;
  border-bottom: 1px dashed gainsboro;
}

.comment_none {
  padding: 25px 0;
  text-align: center;
  color: #999;
}

.comment_list {
  padding-left: 10px;
  background-color: #fff;
}

.comment_item {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.user_image {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 10px;
}

.user_info {
  -webkit-flex: 1;
  flex: 1;
  padding: 10px 0;
  border-bottom: 1rpx solid gainsboro;
}

.user_name {
  font-weight: bold;
  margin-top: 5px;
}

.comment_info {
  margin-top: 10px;
}

.comment_reply {
  font-weight: bold;
}

.comment_time {
  margin-top: 10px;
  color: #555;
}

.comment_total {
  font-size: 12px;
  color: #c68;
  text-align: right;
}

.publish_comment {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -2px 2px #ddd;
}

.comment_content {
  -webkit-flex: 1;
  flex: 1;
  height: 30px;
  margin-right: 10px;
  padding: 0 5px;
  border: 1rpx solid gainsboro;
  border-radius: 3px;
}

.publish_btn {
  height: 30px;
}
