<view class="content">
  <view class="user-info">
    <image src="{{detail.avatarUrl||'https://wx.qlogo.cn/mmopen/vi_32/rSzzqGwHcvgsU5TOx5sy5VkRPdiaWicViceN25bK3bV9OicpElAXpbH2hjjWMR2L6kTnibETgE9GtGWAppLicRgGcLibg/0'}}" mode="aspectFit" class="icon"></image>
    <view class="right-part">
      <view class='.publish-info'>
        <text class="name">{{detail.nickName||'小马'}}</text>
        <text class='time'>{{detail.CreateDateTime}}</text>
      </view>
      <view class="address">{{detail.Address||'位置不详'}}</view>
    </view>
  </view>
  <block wx:if="{{type==='0'}}">
    <view class="notice">
      <text>各位有爱的您，领养是建立在双方自愿的基础上的，请您仔细阅读领养要求。本站呼吁无偿领养，若对方提出高额红包、运费、疫苗医疗费用等相关内容，请您自行衡量并多加注意。如发现虚假领养信息，您可通过“微信”、“QQ”或“我要举报”向我们举报哦。</text>
    </view>
  </block>
  <view class="animal-info">
    <view class="summary">{{detail.Title}}</view>
    <view class="line">
      <text class="label">宠物年龄：</text>
      <text class="value">{{detail.Age||'不详'}}</text>
    </view>
    <view class="line">
      <text class="label">宠物性别：</text>
      <text class="value">{{detail.Sex?(detail.Sex===1?'妹妹':'不详'):'弟弟'}}</text>
    </view>
    <view class="line">
      <text class="label">宠物信息：</text>
      <text class="value">{{detail.Info||''}}</text>
    </view>

    <!--领养显示，寻找不显示-->
    <block wx:if="{{type==='0'}}">
      <view class="line">
        <text class="label">送养原因：</text>
        <text class="value">{{detail.Reason||''}}</text>
      </view>
      <view class="line">
        <text class="label">领养要求：</text>
        <text class="value">{{detail.Require||''}}</text>
      </view>
    </block>

    <!--领养显示，寻找不显示-->
    <view class="line" wx:if="{{detail.Phone}}">
      <text class="label">联系电话：</text>
      <text class="value" bindtap="phoneCall" data-phone="{{detail.Phone}}">{{detail.Phone}}</text>
    </view>
    <view class="line" wx:if="{{detail.WeChat}}">
      <text class="label">联系微信：</text>
      <text class="value">{{detail.WeChat}}</text>
    </view>
    <view class="line">
      <text class="label">宠物照片：</text>
    </view>
    <view class="line" wx:for="{{detail.ImageUrls}}" wx:key="*this">
      <image src="{{'http://img.animal.dobit.top/'+item + '-w640'}}" mode="widthFix" class="img"></image>
    </view>
  </view>
  <!-- 用户留言列表 -->
  <view class="comment">
    <view class="comment_title">
      <text class='comment_title_value'>用户留言</text>
    </view>
    <view class="comment_none" wx:if="{{total===0}}">沙发还在，快去留言</view>
    <block wx:else>
      <view class="comment_list">
        <block wx:for="{{detail}}" wx:key="{{index}}">
          <view class="comment_item">
            <image src="http://p.qlogo.cn/bizmail/jElxJwzSnlI1kBt4WE5Tq6EHqiarmBFuica8RW6vW3aMX5Ff7f3qeHZg/0" class='user_image'></image>
            <view class='user_info' data-commentID="{{item.ID}}" data-userID="{{item.CreateUserID}}" data-userName="xiaoma" bindtap='getCommentInfo'>
              <view class='user_name'>留言用户</view>
              <view class='comment_info'>
                <text class='comment_reply'>回复XXX:</text>
                <text>我是留言留言留言留言。。。。</text>
              </view>
              <view class='comment_time'>2017-11-13 17:30</view>
            </view>
          </view>
        </block>
      </view>
      <view class="comment_total" wx:if="{{total>10}}">查看全部{{total}}条留言</view>
    </block>
  </view>
  <!-- 发表留言 -->
  <form class='publish_comment' bindsubmit="publish_comment">
    <input type="text" placeholder="{{placeHolder}}" focus="{{focus}}" class='comment_content' name="comment" bindconfirm="resetInfo"></input>
    <button size='mini' type='primary' formType="submit" class='publish_btn'>发布</button>
  </form>
  <!-- 我要举报 -->
  <navigator url="../complain/complain?userID={{detail.CreateUserID}}&articleID={{detail.ID}}" hover-class="none" class="complain">
    <!-- <image src="../../images/report.png" class="report_icon"></image>  -->
    <view>我要</view>
    <view>举报</view>
  </navigator>

  <!--领养显示，寻找不显示-->
  <!-- <block wx:if="{{type==='0'}}">
    <view class="recommend">
      <view class="title">猜你喜欢</view>
      <view class="list">
        <import src="../components/animal-list-column/animal-list-column.wxml" />
        <template is="animal-list-column" data="{{list}}"></template>
      </view>
    </view>
  </block> -->

  <!--领养显示，寻找不显示-->
  <!-- <navigator url="../publish/publish" class="publish">
    <image src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1484391013228&di=0743522c3f2f215676006322637e7031&imgtype=jpg&src=http%3A%2F%2Fimg4.imgtn.bdimg.com%2Fit%2Fu%3D3218014389%2C2071949678%26fm%3D214%26gp%3D0.jpg" mode="widthFix"></image>
    <view class="remind rone">有爱的你!</view>
    <view class="remind rtwo">赶紧点击这里!</view>
    <view class="remind rthree">发布宠物的信息!</view>
    <view class="remind rfour">给他们找个温暖的家吧!</view>
  </navigator> -->
</view>