<view class="content">
  <block wx:for="{{list}}" wx:if="{{list}}" wx:key="{{index}}">
    <view class="item">
      <view class="publish">
        <image src="{{item.ImageUrls[0]?('http://img.animal.dobit.top/'+item.ImageUrls[0] + '-w240h240'):'http://img.animal.dobit.top/tmp_1016507062o6zAJsxcbX1PCyjklep8mnIbVbe41487923079062.jpg-w240h240'}}"
        mode="aspectFit" class="left-image"></image>
        <view class="right-info">
          <view class="desc">{{item.Title}}</view>

          <!--0：已删除，1：待审核，2：已审核，3:已成功，4:已拒绝-->
          <view class="info{{item.Flag===1?' remind':''}}">{{item.Flag===1?'审核一般需要0-3天时间':item.CreateDateTime}}</view>
        </view>
        <view class="publish-state">{{flags[item.Flag]}}</view>
      </view>
      <view class="operate">
        <block wx:if="{{item.Flag===0}}">
          <button type="default" size="mini" class="mini-btn btn" bindtap="deleteItem" data-id="{{item.ID}}" disabled plain="true">删除</button>
        </block>
        <block wx:elif="{{item.Flag===1||item.Flag===4}}">
          <button type="default" size="mini" class="mini-btn btn" bindtap="updateInfo" data-id="{{item.ID}}" plain="true">修改</button>
          <button type="default" size="mini" class="mini-btn btn" bindtap="deleteItem" data-id="{{item.ID}}" plain="true">删除</button>
        </block>
        <block wx:elif="{{item.Flag===2}}">
          <button type="default" size="mini" class="mini-btn btn" bindtap="updateInfo" data-id="{{item.ID}}" plain="true">修改</button>
          <button type="default" size="mini" class="mini-btn btn" bindtap="deleteItem" data-id="{{item.ID}}" plain="true">删除</button>
          <button type="default" size="mini" class="mini-btn btn active" bindtap="updateItem" data-id="{{item.ID}}" plain="true">{{type?'已找到':'被领养'}}</button>
        </block>
        <block wx:elif="{{item.Flag===3}}">
          <button type="default" size="mini" class="mini-btn btn" bindtap="deleteItem" data-id="{{item.ID}}" plain="true">删除</button>
        </block>
      </view>
    </view>
  </block>
  <view wx:if="{{isShow}}" class="reminder">{{reminder}}</view>
</view>