.tips{
    position: fixed;
    bottom: 40rpx;
    left: 50%;
    transform: translateX(-50%);
    padding: 20rpx;
    font-size: 14px;
    color: #ffffff;
    border-radius: 10rpx;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}