<view class="content">
  <view class="notice">
    <text>各位有爱的您，本站呼吁无偿领养。如果您的萌宠不是无偿领养，请您发布消息时，特别注明，以避免不必要的麻烦，谢谢配合！！</text>
  </view>
  <form bindsubmit="handleSubmit">
    <view class="line">
      <view class="label">
        <text>所在位置：</text>
        <text>{{locationInfo}}</text>
        <image src="../../images/location.png" mode="aspectFill" class="location-icon" bindtap="selectLoction"></image>
      </view>
    </view>
    <view class="line item">
      <view class="label no_mb">发布类型：</view>
      <radio-group class="types" name="type" bindchange="handleType">
        <label>
          <radio value="0" checked="{{type===0?true:false}}" />领养
        </label>
        <label>
          <radio value="1" checked="{{type===1?true:false}}" />寻找
        </label>
      </radio-group>
    </view>
    <view class="line item">
      <view class="label no_mb">宠物性别：</view>
      <radio-group class="types" name="sex" bindchange="handleSex">
        <label>
          <radio value="1" checked="{{sex===1?true:false}}" />妹妹
        </label>
        <label>
          <radio value="0" checked="{{sex===0?true:false}}" />弟弟
        </label>
        <label>
          <radio value="2" checked="{{sex===2?true:false}}" />不详
        </label>
      </radio-group>
    </view>
    <view class="line">
      <picker value="{{animal_index}}" range="{{animals}}" bindchange="bindTypeChange" name="category" class="picker">
        <view>宠物种类：{{animals[animal_index]}}</view>
      </picker>
    </view>
    <view class="line item">
      <view class="location">宠物年龄：</view>
      <input type="text" class="inputtext" name="age" placeholder="不填写，默认为年龄不详" value="{{detail.Age||''}}" maxlength="-1"/>
    </view>
    <view class="line item">
      <view class="location">宠物名称：</view>
      <input type="text" class="inputtext" name="describe" value="{{detail.Title||''}}" maxlength="-1" />
    </view>
    <view class="line">
      <view class="label">宠物详情：</view>
      <textarea class="textarea" name="info" value="{{detail.Info||''}}" placeholder="请输入您的宠物详细信息，如：性格、健康状况和宠物特征等，便于大家更好的了解您的宠物..."/>
    </view>
    <view class="line">
      <view class="label">宠物图片(最多上传9张)：</view>
      <view class="image-wrapper">
        <image src="{{item}}" data-src="{{item}}" data-index="{{index}}" class="image" bindtap="previewImage" wx:for="{{imageList}}" wx:key="{{index}}" wx:if="{{index<9}}"></image>
        <view class="image choose-image" bindtap="chooseImage"></view>
      </view>
    </view>

    <!--领养显示-->
    <block wx:if="{{type==0}}">
      <view class="line">
        <view class="label">领养要求：</view>
        <textarea class="textarea" name="demand" value="{{detail.Require||''}}" placeholder="请输入您对领养人的详细要求，便于领养人衡量自己是否符合条件..."/>
      </view>
      <view class="line">
        <view class="label">送养原因：</view>
        <textarea class="textarea" name="reason" value="{{detail.Reason||''}}" placeholder="请输入您的送养宠物的详细原因..."/>
      </view>
    </block>

    <!--领养显示-->
    <view class="line item">
      <view class="location">联系电话：</view>
      <input type="text" class="inputtext" name="tel" value="{{detail.Phone||''}}" />
    </view>
    <view class="line item">
      <view class="location">微信号码：</view>
      <input type="text" class="inputtext" name="wx" value="{{detail.WeChat||''}}" />
    </view>
    <view class="align line">
      <button form-type="submit" class="btn-submit">发布</button>
    </view>
  </form>
</view>
<import src="../components/tips/tips.wxml" />
<template is="tips" data="{{tipText}}" wx:if="{{showTips}}"></template>