@import "../components/tips/tips.wxss";
.content{
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
}
.notice{
    padding:20rpx 26rpx;
    line-height: 1.4;
    color: #f66;
    background: #FFFFFF;
}
.line{
    position: relative;
    margin-top: 15rpx;
}
.item{
    display: flex;
    align-items: center;
}
.picker,.textarea,.image-wrapper{
    padding:13rpx 26rpx;
    background-color:#FFFFFF;
}
.picker{
    flex: 1;
    padding:15rpx 26rpx;
}
.textarea{
    height: 176rpx;
    width: 100%;
    box-sizing: border-box;
}
.inputtext{
    flex: 1;
    padding:15rpx 26rpx 15rpx 80px;
    background-color:#FFFFFF;
}
.label{
    margin-bottom:16rpx;
    padding:0 0 0 26rpx;
}
.no_mb{
    margin-bottom: 0;
}
.location{
    position: absolute;
    left: 26rpx;
    top: 50%;
    transform: translateY(-50%);
}
.location-icon{
    margin-left: 10rpx;
    width: 40rpx;
    height: 40rpx;
    vertical-align: middle;
}
.align{
    padding:0rpx 26rpx 30rpx;
}
.btn-submit{
    color: white;
    background-color:#c68;
    border: none;  
}
.image-wrapper{
    display:flex;
    flex-wrap:wrap;
}
.image {
  width: 150rpx;
  height: 150rpx;
  margin: 10rpx;
}
.choose-image{
    position: relative;
    border: 2rpx solid #D9D9D9;
}
.choose-image::before,.choose-image::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #cccccc;
  transform: translate(-50%, -50%);
}
.choose-image::after{
    width: 4rpx;
    height: 80rpx;
}
.choose-image::before{
   width: 80rpx;
   height: 4rpx;
}
.tips{
    bottom: 50%;
    transform: translate(-50%,50%);
}
.input-placeholder, .textarea-placeholder {
  color: #d9d9d9;
}